* {
  //   background-color: #f02222;
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  border: none;
}

.hide {
  display: none !important;
}

@mixin btn-hashtag {
  font-size: 20px;
  border-radius: 25px;
  box-shadow: 2px 4px 4px 0px rgba(0, 0, 0, 0.15);
  display: flex;
  padding: 4px 16px;
  justify-content: center;
  align-items: center;
}

@mixin btn-icon {
  border: none;
  background-color: unset;
}
